@font-face {
	font-family: zombie;
	src: url(zombie.ttf);
}

body { 
	margin:0px; 
}

#haf {
	overflow: hidden;
}

#haf span {
	font-family: zombie;
	text-shadow: 0px 0px 4px red;
}

#haf input {
	font-size: 300%;
	cursor: pointer;
}
